{% extends "base.html" %}
{% block title %}The Library{% endblock %}

  {% block content %}

    <div class="container">
      <h1>The BookShelf</h1>
      {% if not bookshelf: %}
        <p>Bookshelf is empty.</p>
      {% else: %}
         <ul>
        {% for book in bookshelf: %}
            <li><form action="{{ url_for('delete', book_id=book.id) }}" method="POST" style="display: inline;">
                  <button class="btn btn-outline-danger btn-sm"
                  style="--bs-btn-padding-y: .05rem; --bs-btn-padding-x: .3rem; --bs-btn-font-size: .75rem;"
                  type="submit">Delete</button>
                </form>
              {{ book.title }}-{{ book.author }}-{{ book.rating }}/10
              <a class="btn btn-outline-info btn-sm"
                 style="--bs-btn-padding-y: .05rem; --bs-btn-padding-x: .3rem; --bs-btn-font-size: .75rem;"
                href="{{  url_for('edit', id=book.id )  }}">Edit rating</a></li>
        {% endfor %}
        </ul>
      {% endif %}


      <a class="btn btn-primary" href="{{  url_for('add')  }}">Add New Book</a>
    </div>

  {% endblock %}

